finvizfinance
yahoo_fin
requests
prophet
tqdm
PyPortfolioOpt
polygon
yfinance
grequests
pyarrow
psycopg2-binary==2.9.1
iexfinance
quandl
alpha_vantage
ib_insync
backtrader
IbPy2
pandas_ta
jupyter
ipykernel
notebook
nest_asyncio